<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<style>
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e7f0ea;
    padding: 20px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d8e6de;
    padding: 0.5rem 7rem 0.5rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textColor {
    color: #052311;
  }

  .primaryColor {
    color: #0e6431;
  }

  .headline {
    font-size: 2.25rem;
    font-weight: 600;
  }

  .textSize {
    font-size: 0.875rem;
    color: #808080;
    text-align: center;
  }

  .importantText {
    font-weight: 700;
    color: #0e6431;
  }

  .head {
    text-align: center;
  }

  .input {
    width: 25vw;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #e7f0ea;
    padding-left: 20px;
  }

  .input:focus {
    outline: none;
  }

  .svgImage {
    align-self: center;
    justify-content: center;
    align-items: center;
  }

  .btnStyle {
    background-color: #0e6431 !important;
    color: #fff !important;

    height: 3rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.85rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: none;
    width: 26vw;
    box-sizing: border-box;
  }

  .input-container {
    align-items: center;
    margin-bottom: 0.1rem;
    position: relative;
  }
</style>

<body>
  <form id="login_form" class="form_class" action="<%=url%>" method="post">
    <div class="centered">
      <div class="head">
        <img src="/static/asset/lock.svg" class="svgImage" style="padding-bottom: 10px" />

        <h1 class="headline primaryColor">Create new password</h1>
        <p class="textSize" style="padding-bottom: 10px">
          Your new password must be different to previously used passwords
        </p>
      </div>

      <div class="input-container">
        <p class="label">password</p>
        <input class="input" id="password" type="password" placeholder="Enter your password" name="password" />
      </div>

      <div class="input-container">
        <p class="label">Confirm password</p>
        <input class="input" id="confirmPassword" type="password" placeholder="Enter your confirm password" />
      </div>

      <button class="btnStyle" type="submit" id="myButton" onClick="validation()">
        Reset your password
      </button>
    </div>
  </form>
</body>

<script>
  function validation() {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    if (password != confirmPassword) {
      alert('Password is not match');
    }
  }
</script>

</html>