
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Unsuspension Notification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Open Sans", sans-serif;
        background-color: #f4f7f6;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      .headline {
        font-size: 1.2rem;
        font-weight: 600;
        background-color: #08661d;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        color: white;
        text-align: left;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      .content {
        max-width: 600px;
        text-align: left; /* Align text to the left */
        background-color: white;
        padding: 30px 20px; /* Increased padding to the left and right */
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
      .text {
        font-size: 0.9rem; /* Reduced font size */
        color: #333;
        margin-bottom: 20px;
      }
      .importantText {
        font-weight: 700;
        color: #e74c3c;
      }
      .signature {
        font-size: 0.8rem; /* Reduced font size */
        color: #555;
        margin-top: 20px;
      }
      .importantText {
        font-weight: 600;
        color: #5b83f1;
      }
      .linkText {
        font-weight: 400;
        color: #3c6cf1;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1 class="headline">
        Your Shuttle Bus System Account Has Been Successfully Unsuspended.
      </h1>
     <div style="padding-left: 10px; padding-right: 10px;">
      <p class="text">
        Hi, <span class="importantText"><%=username%></span>
      </p>
      <p class="text">
        We hope this message finds you well. Good news! Your account on the Shuttle Bus System has been successfully unsuspended. 
      </p>
      <p class="text">
        You can now resume using all the features and services as usual. If you have any questions or concerns, feel free to reach out to our support team at 
        <a href="mailto:<%=sbsTeam%>" class="linkText">email</a> 
        We're here to assist you. 
      </p>
      <p class="text">
        Enjoy your traveling with Shuttle Bus System.
      </p>
      <p class="signature">Best regards,<br />The Shuttle Bus System Team</p>
     </div>
    </div>
  </body>
</html>
