<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBS Wish Exam</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            max-width: 700px;
            background-color: #e7f0ea;
            padding: 20px;
            margin: 0 auto;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }

        .content {
            display: flex; /* Enable Flexbox layout */
            align-items: center; /* Align items vertically */
            background-color: #ffffff;
            padding: 30px;
        }

        .container {
            border: 2px solid #08661d; 
            border-radius: 15px;
            overflow: hidden;
        }

        .text-content {
            /* If you want to keep the text content width fixed */
            width: 60%; /* Adjust this percentage as needed */
        }
        header {
            background-color: #08661d;
            color: #ffffff;
            padding: 10px;
        }


        .header-content {
            display: flex inline-flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }

        .header-content h1 {
            flex-grow: 1;
            margin: 0; /* Remove default margin to center the title properly */
         
        }

        .logo {
            /* Style for your logo, e.g., size adjustments if needed */
            width: 50px; /* Example size, adjust as needed */
            height: auto;
        }

        h1 {
            font-size: 1.1rem;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .headline {
            font-size: 1.6rem;
            font-weight: 600;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .titleSize {
            font-size: 1.0rem;
            font-weight: 400;
        }

        .textSize {
            font-size: 0.85rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 300;
        }

        .content {
            text-align: left;
            background-color: #ffffff;
            padding: 30px;
        }

        .importantText {
            font-weight: 700;
            color: #0e6431;
        }

        .linkText {
            font-weight: lighter;
            color: #3c6cf1;
            text-decoration: none;
        }

        footer {
            background-color: #08661d;
            color: #ffffff;
            padding: 10px;
            text-align: center;
        }
        .content-image {
            max-width: 50%; /* Maximum width of the image is 100% of its container */
            height: auto; /* Maintain aspect ratio */
            object-fit: cover; /* Ensures the image covers the area without stretching */
            order: 2; /* Image appears after the text content on larger screens */
        }
        .text-content {
            width: 60%; /* Adjust this percentage as needed */
            order: 1; /* Text content appears before the image on larger screens */
        }

        @media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack the elements vertically */
    }

    .content-image {
        order: 1; /* Place the image first */
        width: 150px; /* Full width for the image */
        max-height: auto; /* Auto height for responsiveness */
        object-fit: contain; /* Adjust this to fit the image as needed */
        margin-bottom: 20px; /* Add some space below the image */
        align-items: end;
    }

    .text-content {
        order: 2; /* Place the text content after the image */
        width: 100%; /* Full width for the text content */
    }
}

    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-content">
                <img class="logo" src="http://136.228.141.22/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.198a873d.png&w=64&q=75" alt="Logo SBS" />
                <h1>Shuttle Bus Wishing</h1>
            </div>
        </header>

        <div class="content">
            <div class="text-content">
                <h1 class="headline" style="padding-bottom: 10px">
                    Congratulations on Completing Your Exams!🙏
                </h1>
                <h1 class="titleSize" style="padding-bottom: 10px">
                    Hi,
                    <span class="primaryColor" style="font-weight: 700">
                        <%=username%>
                    </span>
                </h1>
                <p class="textSize" >
                    Congratulations on completing the semester! 🌟 You've done a fantastic job, and your hard work has truly paid off. It's inspiring to see how much you've achieved in these past months.
                </p>
                <p class="textSize" >
                    Regardless of the results, be proud of your effort. You've shown resilience and commitment. Keep moving forward with the same determination. Your journey is filled with potential, and you're capable of achieving great things.
                </p>
                <p class="textSize">
                    Take a moment to celebrate your accomplishments, and know that you've done a lot in this semester.
                    If there's anything you'd like to talk about or share, We are here for you. Keep shining, and best of luck with the results!
                </p>

                <p class="textSize" style="padding-top: 20px">Best wishes</p>
                <p class="textSize">KIT-Shuttle Bus Team</p>
            
              
            </div>
            <img class="content-image" src="https://ih0.redbubble.net/image.673369812.0192/raf,360x360,075,t,fafafa:ca443f4786.jpg" alt="Descriptive Alt Text" />
        </div>

        <footer>
            <div class="">
                &copy; 2024 SBS-KIT Team
            </div>
        </footer>
    </div>
</body>

</html>